<h3 class="text-center">Topics</h3>
<div class="row" style="margin-top:10px; margin-bottom:10px">
  <div class="col-3" *ngFor='let topic of topics$ | async'>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title card-link"> <a href="#" class="card-link">{{topic.name}}</a></h5>
        <ul>
          <li>
            [x] players
          </li>
          <li>
            Next quiz starts in [hh:mm:ss]
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
